# Ignore the virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore local configuration files
*.env
*.local

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
